#top-container {
    display: flex;
    justify-content: center;
}

#thumbnail-container {
    margin: 0 2em 2em 2em;
    align-items: center;
}

#schemes-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2em 2em 2em;
}

#save-button {
    margin-top: 0;
    text-align: center;
}

#schemes-list {
    list-style-type: none;
    padding: 0;
}

#schemes-list li:hover {
    background-color: darkgray;
    cursor: pointer;
}

#coloring-container {
    /* background-color: white; */
    height: 40vw;
    width: 40vw;
    border: 3px solid grey;
}

svg {
    width: 100%;
    height: 100%;
}

#palette-container {
    display: flex;
    flex-flow: row wrap;
    width: 12vw;
    margin-bottom: 10px;
}

.palette-color {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.thumbnail {
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
}

#instructions {
    text-align: center;
}