#top-container {
    display: flex;
    justify-content: center;
}

#thumbnail-container {
    margin: 2em;
}
#schemes-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2em;
}

#schemes-list {
    list-style-type: none;
    padding: 0;
}

#schemes-list li:hover {
    background-color: darkgray;
}

#coloring-container {
    /* background-color: white; */
    height: 50vw;
    width: 50vw;
    border: 3px solid grey;
}

svg {
    width: 100%;
    height: 100%;
}

#palette-container {
    display: flex;
    flex-flow: row wrap;
}

.palette-color {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.thumbnail {
    width: 75px;
    height: 75px;
    background-color: white;
    margin: 5px;
}