ul {
    list-style: none;
    padding: 0;
    margin-right: 10%;
    margin-left: 10%;
}

.scheme-display {
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    width: 90%;
    padding: 50px;
}

#scheme-colors {
    display: flex;
}

.color-display {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    flex-shrink: 1;
}

.color-display p {
    margin: 0;
}

.color-display div {
    width: 100%;
    align-self: center;
    flex-grow: 1;
}

#saved-pictures-container li {
    display: inline-block;
    height: 100px;
    width: 100px;
}