/* .color-block {
    width: 30px;
    height: 75px;
    background-color: black;
    display: inline-block;
    margin: -2px;
} */

ul {
    list-style: none;
    padding: 0;
    margin: 10%;
}

.scheme-display {
    display: flex;
    flex-direction: row wrap;
    border: solid 2px white;
    width: 90%;
    padding: 50px;
    /* margin: 10%; */
}

.color-display {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    flex-shrink: 1;
}

.color-display p {
    margin: 0;
}

.color-display div {
    width: 100%;
    align-self: center;
    flex-grow: 1;
}