ul {
    list-style: none;
    padding: 0;
    background-color: white;
}

li {
    display: inline-block;
    padding: 5px;
    width: 150px;
    height: 175px;
    overflow: hidden;
    background-color: white;
}

.color-block {
    width: 30px;
    height: 75px;
    background-color: black;
    display: inline-block;
    margin: -2px;
}