header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
}

#header {
    justify-content: flex-start;
}

#profile {
    justify-content: flex-end;
}

header h1 {
    flex-grow: 2;
}

header img {
    width: 32px;
    border-radius: 100%;
}