#color-container {
    display: flex;
    justify-content: center;
}

.color-display {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.color-display p {
    margin: 0;
}

.color-display div {
    width: 100%;
    align-self: center;
    flex-grow: 1;
}

#scheme-type {
    font-family: 'Raleway', sans-serif;
}

#scheme-type > option {
    font-family: 'Raleway', sans-serif;
}

p.popup {
    color: rgb(67, 207, 231);
    position: relative;
    cursor: pointer;
}

p.popup:after {
        content: attr(data-popuptext);
        color: black;
        background: white;
        width: 30vw;
        border-radius: 3px;
        opacity: 0;
        top: 0;
        left: 1;
        position: absolute;
        transition: 1s ease;
}

p.popup:hover:after {
        opacity: 1;
        top: 1.2em;
        padding: .5em;
    }
